---
services:
  database:
    image: postgres:17.0
    env_file: .env
    container_name: database
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./src/adapters/outbound/database/init.sh:/docker-entrypoint-initdb.d/init.sh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_APP_USER} -d ${POSTGRES_DB}"]
      interval: 15s
      retries: 5
      start_period: 120s
    networks:
      - app_network

  migrations:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_migrations
    container_name: migrations
    env_file: .env
    environment:
      POSTGRES_HOST: database
    command: uv run alembic upgrade head
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app_network

  backend:
    env_file: .env
    ports:
      - "8000:8000"
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_backend
    container_name: backend
    environment:
      POSTGRES_HOST: database
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app_network
      - monitoring_network
    restart: always

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - monitoring_network
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring_network
    depends_on:
      - prometheus


volumes:
  postgres-data:
  prometheus_data:
  grafana_data:

networks:
  app_network:
    driver: bridge
    internal: false

  monitoring_network:
    driver: bridge
    internal: false
