# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=loadtest_db
DOCKER_POSTGRES_PORT=5432
DOCKER_POSTGRES_HOST=postgres-locust
APP_POSTGRES_PORT=5433
APP_POSTGRES_HOST=localhost

# Application
APP_PORT=8001
DOCKER_DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DOCKER_POSTGRES_HOST}:${DOCKER_POSTGRES_PORT}/${POSTGRES_DB}"
APP_DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${APP_POSTGRES_HOST}:${APP_POSTGRES_PORT}/${POSTGRES_DB}"

# Test settings
NUM_USERS=10
BONDS_QUANTITY=15
BONDHOLDERS_PER_USER=10