# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=loadtest_db
POSTGRES_PORT=5432
POSTGRES_HOST=postgres-locust

# Application
APP_PORT=8001
APP_DATABASE_URL="postgresql+asyncpg://postgres:postgres@postgres-locust:5432/loadtest_db"

# Test settings
NUM_USERS=10
BONDS_QUANTITY=15
BONDHOLDERS_PER_USER=10